<p>main-view works!</p>

<button (click)="layoutService.toggleDetail()">Toggle</button>

<div class="grid gap-2 w-full sm:grid-cols-auto-fill">
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
</div>

<div class="w-full space-y-2 my-2">
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
  <div class="w-full h-8 bg-emerald-700"></div>
</div>
