<div class="px-4 py-2 sm:p-0 flex flex-col w-full h-full gap-1.5">
  <div class="sm:px-3 sm:py-2 flex items-center justify-between">
    <div class="sm:w-[30%] flex items-center gap-2">
      @if (audioService.currentSong()) {
        <button class="w-14 h-14 aspect-square">
          <img
            class="w-full h-full object-cover rounded-sm"
            [src]="audioService.currentSong()?.image"
            [alt]="'Cover of ' + audioService.currentSong()?.title"
          />
        </button>

        <div class="text-sm flex flex-col px-2 break-all">
          <span role="button" class="hover:underline line-clamp-1">
            {{ audioService.currentSong()?.title }}
          </span>
          <span class="text-muted line-clamp-1">
            {{ audioService.currentSong()?.artists?.join(", ") }}
          </span>
        </div>
      } @else {
        <div
          class="w-14 h-14 aspect-square rounded-md bg-background-card"
        ></div>
        <div class="text-sm flex flex-col px-2 gap-2 w-full">
          <div
            class="max-w-36 w-full h-3.5 bg-background-card rounded-sm"
          ></div>
          <div
            class="max-w-20 w-full h-3.5 bg-background-card rounded-sm"
          ></div>
        </div>
      }
    </div>

    <div
      class="hidden sm:flex w-[40%] max-w-3xl flex-col items-center px-2 gap-1"
    >
      <div class="w-full flex items-center justify-center gap-4">
        <div class="flex items-center justify-center gap-2">
          <app-btn-random-mode
            [randomMode]="audioService.randomMode()"
            (toggle)="audioService.toggleRandomMode()"
          />
          <button
            class="p-2 text-muted cursor-default hover:text-white transition-colors disabled:text-background-card"
            [disabled]="!audioService.currentSong()"
            (click)="audioService.previousSong()"
          >
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              xlmns="http://www.w3.org/2000/svg"
            >
              <path
                fill="currentColor"
                d="M3.3 1a.7.7 0 0 1 .7.7v5.15l9.95-5.744a.7.7 0 0 1 1.05.606v12.575a.7.7 0 0 1-1.05.607L4 9.149V14.3a.7.7 0 0 1-.7.7H1.7a.7.7 0 0 1-.7-.7V1.7a.7.7 0 0 1 .7-.7h1.6z"
              ></path>
            </svg>
          </button>
        </div>

        <app-btn-play
          [isPlaying]="audioService.isPlaying()"
          [currentSong]="audioService.currentSong()"
          (play)="audioService.play()"
          (pause)="audioService.pause()"
        />

        <button
          class="p-2 text-muted cursor-default hover:text-white transition-colors disabled:text-background-card"
          [disabled]="!audioService.currentSong()"
          (click)="audioService.nextSong()"
        >
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            xlmns="http://www.w3.org/2000/svg"
          >
            <path
              fill="currentColor"
              d="M12.7 1a.7.7 0 0 0-.7.7v5.15L2.05 1.107A.7.7 0 0 0 1 1.712v12.575a.7.7 0 0 0 1.05.607L12 9.149V14.3a.7.7 0 0 0 .7.7h1.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-1.6z"
            ></path>
          </svg>
        </button>
      </div>

      <div class="w-full flex items-center gap-2 text-sm">
        <span class="w-8 text-muted">
          {{ value / 60 | floor | number: "1.0-0" }}:{{
            value % 60 | number: "2.0-0"
          }}
        </span>
        <div class="w-full custom-slider">
          <ngx-slider
            [(value)]="value"
            [options]="options"
            (userChangeStart)="isUserDragging.set(true)"
            (userChangeEnd)="onUserChangeEnd($event)"
          ></ngx-slider>
        </div>
        <span class="w-8 text-muted">{{
          audioService.currentSong()?.duration
        }}</span>
      </div>
    </div>

    <div class="hidden sm:flex w-[30%] items-center justify-end">
      <app-btn-queue />
      <app-btn-mute
        [isMuted]="audioService.isMuted()"
        [volume]="audioService.volumeDisplayed"
        (toggle)="audioService.toggleMute()"
      />

      <div class="w-36 custom-slider">
        <ngx-slider
          [(value)]="audioService.volumeDisplayed"
          [options]="volumeOptions"
          (valueChange)="audioService.updateVolume($event)"
        ></ngx-slider>
      </div>
    </div>

    @defer (when isSmallScreen()) {
      <div class="flex sm:hidden items-center gap-2">
        <div class="flex items-center">
          <app-btn-queue />
          <app-btn-random-mode
            [randomMode]="audioService.randomMode()"
            (toggle)="audioService.toggleRandomMode()"
          />
          <app-btn-mute
            [isMuted]="audioService.isMuted()"
            [volume]="audioService.volumeDisplayed"
            (toggle)="audioService.toggleMute()"
          />
        </div>
        <app-btn-play
          [isPlaying]="audioService.isPlaying()"
          [currentSong]="audioService.currentSong()"
          (play)="audioService.play()"
          (pause)="audioService.pause()"
        />
      </div>
    }
  </div>

  @defer (when isSmallScreen()) {
    <div class="flex sm:hidden w-full pt-[2px] custom-slider">
      <ngx-slider
        [(value)]="valueMobile"
        [options]="options"
        (userChangeStart)="isUserDragging.set(false)"
        (userChangeEnd)="onUserChangeEnd($event)"
      ></ngx-slider>
    </div>
  }
</div>
