<header
  class="px-4 relative h-16 w-full flex items-center justify-between gap-2 py-4"
>
  <div class="flex items-center gap-3">
    <button
      class="p-2 bg-black/70 rounded-full hover:bg-black transition-colors duration-300 disabled:bg-black/30 disabled:hover:bg-black/30"
      aria-label="Go back"
      (click)="navigationState <= 1 ? navigateHome() : navigateBack()"
    >
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill="currentColor"
          d="M11.03.47a.75.75 0 0 1 0 1.06L4.56 8l6.47 6.47a.75.75 0 1 1-1.06 1.06L2.44 8 9.97.47a.75.75 0 0 1 1.06 0z"
        ></path>
      </svg>
    </button>

    <div
      class="group relative min-w-24 w-full xxs:w-[15rem] sm:w-full md:w-[17.5rem]"
    >
      <input
        #searchBar
        class="peer bg-accent py-3 pl-10 pr-9 rounded-full text-sm w-full placeholder:text-muted text-white ring-2 ring-accent group-hover:ring-[#3b3b3b] focus:!ring-white outline-none transition-all"
        type="text"
        placeholder="What do you want to play?"
        [value]="searchText()"
        (input)="handleSearch(searchBar)"
      />

      <svg
        class="absolute inset-[0.85rem] text-muted group-hover:text-white peer-focus:text-white transition-colors"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill="currentColor"
          d="M7 1.75a5.25 5.25 0 1 0 0 10.5 5.25 5.25 0 0 0 0-10.5zM.25 7a6.75 6.75 0 1 1 12.096 4.12l3.184 3.185a.75.75 0 1 1-1.06 1.06L11.304 12.2A6.75 6.75 0 0 1 .25 7z"
        ></path>
      </svg>

      @if (searchText() !== "") {
        <button
          class="absolute right-[0.85rem] top-[0.85rem] cursor-default"
          (click)="resetSearch()"
          aria-label="Clear search input"
        >
          <svg
            width="14"
            height="14"
            viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill="currentColor"
              d="M2.47 2.47a.75.75 0 0 1 1.06 0L8 6.94l4.47-4.47a.75.75 0 1 1 1.06 1.06L9.06 8l4.47 4.47a.75.75 0 1 1-1.06 1.06L8 9.06l-4.47 4.47a.75.75 0 0 1-1.06-1.06L6.94 8 2.47 3.53a.75.75 0 0 1 0-1.06Z"
            ></path>
          </svg>
        </button>
      }
    </div>
  </div>

  <div class="flex items-center gap-2">
    <a
      class="text-white/85 hover:text-white transition-colors"
      href="https://github.com/jordigd20/spotify-clone"
      target="_blank"
    >
      <svg
        role="img"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill="currentColor"
          d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
        />
      </svg>
    </a>
  </div>
</header>

<main class="py-4 px-6">
  @if (searchText() === "") {
    <h1 class="text-2xl font-bold mb-4">Playlists</h1>

    <div class="grid gap-6 grid-cols-auto-fill-cards">
      @for (playlist of playlists; track playlist.id) {
        <app-playlist-card [playlist]="playlist" />
      }
    </div>
  } @else {
    <h1 class="text-2xl font-bold mb-4">Playlists</h1>
    <div class="grid gap-6 grid-cols-auto-fill-cards">
      @for (playlist of playlists | search: searchText(); track playlist.id) {
        <app-playlist-card [playlist]="playlist" />
      }
    </div>
  }

  @if (searchText() !== "" && (playlists | search: searchText()).length === 0) {
    <div
      class="w-full flex flex-col items-center justify-center gap-4 [height:_calc(var(--content-height)-200px)]"
    >
      <svg
        width="64"
        height="64"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <path d="m13.5 8.5l-5 5m0-5l5 5" />
          <circle cx="11" cy="11" r="8" />
          <path d="m21 21l-4.3-4.3" />
        </g>
      </svg>
      <p class="text-center w-full text-lg">
        No results found for "{{ searchText() }}"
      </p>
    </div>
  }
</main>
