<div
  class="px-2 pt-2 flex sm:grid overflow-y-hidden w-full relative h-full min-h-full gap-2"
  [ngClass]="
    layoutService.isDetailOpened() ? 'sidebars-layout' : 'left-sidebar-layout'
  "
>
  <app-left-sidebar
    class="left-sidebar hidden sm:block sm:w-left-sidebar h-full relative rounded-md"
  />
  <app-main-view
    class="main-view relative w-full bg-background rounded-md h-content overflow-y-auto"
  />

  @if (layoutService.isDetailOpened()) {
    <app-right-sidebar
      class="hidden lg:block right-sidebar bg-background h-content w-right-sidebar rounded-md"
    />
  }
</div>

<app-playing-bar class="relative w-full h-playing-bar block bg-black" />
